@import "tailwindcss";

html,
body {
  padding: 0;
  margin: 0;
  cursor: url(/posts/cursorhjerte.png), auto;
}

@font-face {
  font-family: "Necto-Mono";
  src: url("/fonts/Necto-Mono.woff2") format("woff2"),
    url("/fonts/Necto-Mono.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Dauphine-Regular";
  src: url("/fonts/Dauphine-Regular.woff2") format("woff2"),
    url("/fonts/Dauphine-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Necto-Mono", sans-serif;
}

.custom-font-dauphine {
  font-family: "Dauphine-Regular", serif !important;
}

main {
  flex: 1;
}

a {
  color: black;
  text-decoration: underline;
  cursor: url(/posts/cursorhjerte.png), pointer;
}

a:hover {
  color: rgb(255 26 102);
  text-decoration: none;
  cursor: url(/posts/cursorregnbue.png), pointer;
}

.ghost-signup button,
.ghost-signup input[type="submit"],
.ghost-signup .gh-signup-form button,
.ghost-signup .gh-signup-cta {
  font-family: "Necto-Mono", monospace !important;
}

nav ul li:hover {
  background-color: #ffb2d9;
  box-shadow: 0.3em 0.3em 1em rgb(0 0 0 / 60%);
  position: relative;
}

@theme {
  --color-lilac-kc: #f2eaff;
  --color-powder_kc: #fce3e3;
  --color-pink_kc: #ffb2d9;
  --color-yellow_kc: #f7f4c6;
  --color-red_kc: #ff1a66;
  --color-pistacio_kc: #f2ffea;
  --color-violetblack: #06004f;
  --color-barbie: #ffa6d9;
}
