@import "tailwindcss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-arial);
  cursor: url(/posts/cursorhjerte.png), auto;
}

@font-face {
  font-family: "Necto-Mono";
  src: url("/fonts/Necto-Mono.woff2") format("woff2"),
    url("/fonts/Necto-Mono.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Dauphine-Regular";
  src: url("/fonts/Dauphine-Regular.woff2") format("woff2"),
    url("/fonts/Dauphine-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Necto-Mono", sans-serif;
}

main {
  flex: 1;
}

a {
  color: black;
  text-decoration: underline;
  cursor: url(/posts/cursorhjerte.png), pointer;
}

a:hover {
  color: rgb(255 26 102);
  text-decoration: none;
  cursor: url(/posts/cursorregnbue.png), pointer;
}

.navhover {
  background-color: #ffb2d9;
  box-shadow: 0.3em 0.3em 1em rgb(0 0 0 / 60%);
  position: relative;
}

li:hover {
  background-color: #ffb2d9;
  box-shadow: 0.3em 0.3em 1em rgb(0 0 0 / 60%);
  position: relative;
}

@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@theme {
  --color-lilac-kc: #f2eaff;
  --color-pink-kc: #ffb2d9;
  --color-powder-kc: #fce3e3;
  --color-yellow-kc: #f7f4c6;
  --color-red-kc: #ff1a66;
  --color-pistacio-kc: #f2ffea;
  --color-black: #000000;
  --color-neon: #74ff58;
  --color-electricblue: #4726ff;
  --color-barbie: #ffa6d9;
  --color-paleyellow: #faed8f;
  --color-banana: #fffbd6;
  --color-seagreen: #2dbc94;
  --color-orangina: #ff8c00;
  --color-lemon: #f2ff26;
  --color-neonpink: #fe16b7;
  --color-neonpurple: #e500ff;
  --color-blueviolet: #4733ff;
  --color-neonorange: #ff5200;
  --color-pansypurple: #6f0043;
  --color-lavender: #b8b8ff;
  --color-mint: #bfffe6;
  --color-slate: #1b3644;
  --color-violetblack: #06004f;
  --color-mineral: #b5d1cc;

  --cursor-default: url(/posts/cursorregnbue.png), default;
  --cursor-pointer: url(/posts/cursorhjerte.png), pointer;
}
